@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
.container {
  width: 1440px;
  margin: 0 auto;
}

.header {
  background: url("../img/background1.jpg") center center/cover no-repeat;
  min-height: 800px;
  border-radius: 0 0 54px 54px;
}
.header_h1 {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
  /* identical to box height, or 129% */
  margin-top: 183px;
  color: #FFFFFF;
}
.header_discover {
  display: flex;
  width: 273px;
  height: 72px;
  background: #7B61FF;
  border-radius: 12px;
  justify-content: center;
  margin: 32px auto;
  align-items: center;
  gap: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.header_row {
  padding: 8px;
  margin: 184px auto;
  width: 1140px;
  height: 88px;
  background: #FFFFFF;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav {
  justify-content: space-between;
  padding-top: 31px;
  display: flex;
}
.nav_logo {
  display: flex;
}
.nav_links {
  display: flex;
}
.nav_profile {
  display: flex;
}

.links_ul {
  gap: 54px;
  display: flex;
}

.links_li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  text-transform: capitalize;
  color: #FFFFFF;
  opacity: 0.7;
  display: flex;
}

.profile_text {
  padding-right: 8px;
  text-align: right;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  text-transform: capitalize;
  color: #FFFFFF;
}

.name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  text-transform: capitalize;
  color: #FFFFFF;
}

.row_element {
  padding-right: 80px;
  display: flex;
}

.element_img {
  padding-right: 16px;
}

.locate_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  color: #5B5B5B;
}
.locate_text span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #161414;
}

.row_search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px;
  gap: 8px;
  width: 60px;
  height: 60px;
  background: #7B61FF;
  border-radius: 12px;
}

.destinations_header {
  text-align: left;
  margin-top: 120px;
  margin-left: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */
  color: #161414;
}
.destinations_boxes {
  justify-content: center;
  margin-top: 64px;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  display: flex;
  flex-direction: row;
}

.box_text {
  margin-top: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #161414;
}
.box_text span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  color: #979797;
}

.case_name {
  margin-bottom: 12px;
  margin-top: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #161414;
}
.case_location {
  margin-right: 175px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #979797;
}
.case_under {
  display: flex;
  margin-right: 129px;
}
.case_locationimg {
  margin-right: 4px;
}

.hotels_cases {
  display: flex;
  flex-direction: row;
}
.hotels_header {
  margin-left: 30px;
  margin-bottom: 64px;
  margin-top: 129px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */
  color: #161414;
}/*# sourceMappingURL=style.css.map */