@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("../css/reset.css");
.container {
  width: 1440px;
  margin: 0 auto;
  padding-left: 30px;
}

.none {
  display: none;
}

.header {
  background: url("../img/background1.jpg") center center/cover no-repeat;
  min-height: 800px;
  border-radius: 0 0 54px 54px;
}
.header_h1 {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
  /* identical to box height, or 129% */
  margin-top: 183px;
  color: #FFFFFF;
}
.header_discover {
  display: flex;
  width: 273px;
  height: 72px;
  background: #7B61FF;
  border-radius: 12px;
  justify-content: center;
  margin: 32px auto;
  align-items: center;
  gap: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.header_row {
  padding: 8px;
  margin: 184px auto;
  width: 1140px;
  height: 88px;
  background: #FFFFFF;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav {
  justify-content: space-between;
  padding-top: 31px;
  display: flex;
}
.nav_logo {
  cursor: pointer;
  display: flex;
}
.nav_links {
  display: flex;
}
.nav_profile {
  cursor: pointer;
  display: flex;
}

.links_ul {
  gap: 54px;
  display: flex;
}
.links_ul :hover {
  opacity: 1;
  color: white;
  transition: 0.8s;
}

.links_li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  text-transform: capitalize;
  color: #FFFFFF;
  opacity: 0.7;
  display: flex;
  cursor: pointer;
}

.profile_text {
  padding-right: 8px;
  text-align: right;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  text-transform: capitalize;
  color: #FFFFFF;
}

.name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  text-transform: capitalize;
  color: #FFFFFF;
}

.row_element {
  padding-right: 80px;
  display: flex;
}

.element_img {
  padding-right: 16px;
}

.locate_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  color: #5B5B5B;
}
.locate_text span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #161414;
}

.row_search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px;
  gap: 8px;
  width: 60px;
  height: 60px;
  background: #7B61FF;
  border-radius: 12px;
}

.destinations_header {
  text-align: left;
  margin-top: 120px;
  margin-left: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */
  color: #161414;
}
.destinations_box {
  width: 450px;
}
.destinations_boxes {
  width: 1440px;
  padding-left: 30px;
  justify-content: center;
  margin-top: 64px;
  align-items: flex-start;
  gap: 32px;
  display: flex;
  flex-direction: row;
}

.box_text {
  margin-top: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #161414;
  cursor: pointer;
}
.box_text span {
  cursor: default;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  color: #979797;
}

.case_name {
  cursor: pointer;
  margin-bottom: 12px;
  margin-top: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #161414;
}
.case_location {
  margin-right: 175px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #979797;
}
.case_under {
  display: flex;
  margin-right: 129px;
}
.case_locationimg {
  margin-right: 4px;
}

.hotels_case {
  white-space: nowrap;
  width: 370px;
}
.hotels_cases {
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hotels_header {
  margin-left: 30px;
  margin-bottom: 64px;
  margin-top: 129px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */
  color: #161414;
}

.view_all {
  cursor: pointer;
  gap: 4px;
  margin-top: 120px;
  width: 105px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background: #F6F4FF;
  border-radius: 12px;
  display: flex;
  white-space: nowrap;
}
.view_all :hover {
  text-decoration: underline;
  transition: 10s;
}

.view_text {
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #5243C2;
}

.hotels_headers {
  display: flex;
  justify-content: space-between;
}

.element_under {
  gap: 24px;
  display: flex;
  padding-left: 32px;
}
.element_text {
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  color: #5B5B5B;
  padding-left: 32px;
}

.tips_elements {
  padding-left: 30px;
  display: flex;
  gap: 32px;
}
.tips_element {
  display: flex;
}
.tips_subheader {
  margin-top: 400px;
  margin-bottom: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  padding-left: 32px;
  color: #161414;
}

.under_img {
  padding-right: 5px;
}
.under_block {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  color: #878787;
}

.card_name {
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #161414;
}

.activies_cards {
  padding-left: 30px;
  flex-direction: row;
  gap: 32px;
  display: flex;
}

.activies_card {
  width: 1100px;
}

.about {
  padding-left: 30px;
}
.about_image {
  margin-top: 120px;
}
.about_main {
  width: 1420px;
  display: flex;
  justify-content: center;
  gap: 32px;
}
.about_about {
  margin-top: 206px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */
  color: #161414;
}
.about_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  margin-top: 32px;
  margin-bottom: 32px;
  color: #5B5B5B;
}
.about_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 4px;
  width: 133px;
  height: 44px;
  background: #F6F4FF;
  border-radius: 12px;
}

.btn_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #5243C2;
}

.footer {
  padding: 120px 271px;
  gap: 64px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 120px;
  height: 403px;
  background: #F9F9F9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.first_subtext {
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #5B5B5B;
}

.first_icons {
  cursor: pointer;
  display: flex;
  margin-top: 32px;
  gap: 32px;
}

.footer_df {
  display: flex;
}

.second_list {
  margin-left: 103px;
}

.list_header {
  margin-bottom: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  color: #161414;
}

.list_item {
  margin-top: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  color: #5B5B5B;
}

.third_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-left: 64px;
  color: #161414;
}

.email_email {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #161414;
}
.email_subtext {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  color: #5B5B5B;
}
.email_card {
  margin-top: 20px;
  margin-left: 64px;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 16px;
  width: 300px;
  height: 72px;
  background: #FFFFFF;
  border-radius: 12px;
}

.third_email {
  display: flex;
}

.email_send {
  cursor: pointer;
  margin-left: 16px;
  margin-top: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 8px;
  width: 72px;
  height: 50px;
  background: #7B61FF;
  border-radius: 12px;
}

ul, li {
  cursor: pointer;
}

.list_header {
  cursor: default;
}

@media (max-width: 1139px) {
  .media-2box {
    display: flex;
  }
  .container {
    padding-left: 0;
    max-width: 1000px;
  }
  .links_ul {
    gap: 30px;
    margin-top: 15px;
  }
  .header {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .nav {
    gap: 20px;
    justify-content: center;
  }
  .header_row {
    display: flex;
    width: 900px;
  }
  .destinations_boxes {
    flex-direction: column;
  }
  .case-2box {
    display: block;
  }
}
.hamburger-menu {
  display: none;
}/*# sourceMappingURL=style.css.map */